body{
  /* font-family: ; */
  background-color: black;
  background-image: URL("./../img/IMG_0730-2.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: 0 -130px;
  font-size: 20px;
  display: flex;
}

.navbar{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  background: linear-gradient(225deg, #000000,#022b26);
  padding-top: 10px;
  padding-bottom: 10px;
  animation: gradient 5s ease infinite;
  background-size: 300% 300%;
}

.nav-item{
  display: flex;
}


#Contact{
  color: #ffffff;
  margin-right: 5px;
}

#contactBox{
  z-index: -1;
  position: fixed;
  border-width: 4px;
  border-style: solid;
  /* border-color: rgb(238, 231, 155); cooler without border-color*/
    flex-direction: column;
  justify-content: space-around;
  align-items: center;
  top:43px;
  right:5px;
  width:300px;
  height:220px;
  background: black;
  display: flex;
  border-radius:25px;
  opacity: 0.7;
  box-shadow: 0px 0px 1px black,
    0px 0px 8px black,
    0px 0px 20px black,
    0px 0px 30px black,
    0px 0px 45px black,
    0px 0px 60px black;
}

.contactInfo{
  color: white;
  opacity: 1;
}

.icons{
  padding-top: 5px;
  padding-bottom: 5px;

}
.icons>img{
  width:30px;
  height:30px;
}
.usernames{
  padding-left: 15px;
  vertical-align: bottom;
  font-family: sans-serif;
}

.usernames.gmail{
  text-shadow: 0px 0px 1px green,
    0px 0px 5px green,
    0px 0px 10px green,
    0px 0px 20px green,
    0px 0px 30px green,
    0px 0px 40px green;
}
.usernames.ig{
  text-shadow: 0px 0px 1px rgb(202, 6, 202),
    0px 0px 5px rgb(202, 6, 202),
    0px 0px 10px rgb(202, 6, 202),
    0px 0px 20px rgb(202, 6, 202),
    0px 0px 30px rgb(202, 6, 202),
    0px 0px 40px rgb(202, 6, 202);
}

.usernames.linkedin{
  text-shadow: 0px 0px 1px rgb(6, 175, 175),
    0px 0px 5px rgb(6, 175, 175),
    0px 0px 10px rgb(6, 175, 175),
    0px 0px 20px rgb(6, 175, 175),
    0px 0px 30px rgb(6, 175, 175),
    0px 0px 40px rgb(6, 175, 175);
}
.usernames.discord{
  text-shadow: 0px 0px 1px rgb(96, 179, 247),
    0px 0px 5px rgb(96, 179, 247),
    0px 0px 25px rgb(96, 179, 247),
    0px 0px 40px rgb(96, 179, 247),
    0px 0px 60px rgb(96, 179, 247),
    0px 0px 80px rgb(96, 179, 247);
}

/* centers name, profile picture, and about me section*/
.profile{
  margin: auto;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  display: block;
}

@keyframes gradient {
  0% {
    background-position: 100% 100% ;
  }
  50% {
    background-position: 30% 0% ;
  }
  100% {
    background-position: 100% 100%;
  }
}

/* controls profile picture resizing as browser size changes*/
.profile img{
  width: 100%;
  max-width: 350px; 
  height: auto;
  margin: auto;
}

/* box around About Me Section*/
.box1{
  width: auto;
  border: solid black;
  border-width: 1px;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
}

/* Overrides .profile's centered text alignment */
.about{
  text-align: left;
}

/* italicizes all dates*/
.date{
  font-style: italic;
}

/* italicizes languages (html, css, etc.) used in projects section*/
.language{
  font-style: italic;
}

/*sticks footer of webpage at bottom of page*/
.footer{
  padding-top: 40px;
  margin-left: -15px;
  position: relative;
  bottom: 0%;
}

/*resizes footer photo, word wraps text to the right of photo */
.footer img{
  margin-right: 10px;
  width: 100px;
  height: 100px;
  float: left;
}
