img{
  width: 250px;
  height: auto;
  float: left;
  padding-right: 30px;  
}

ul{
  margin-left: 0;
  padding-left: 10px;
}

.profile{
  margin: auto;
  text-align: center;
  width: 100%;
}

.date{
  font-style: italic;
}

.about{
  text-align: left;
}

/* .projects{
  float: left;
} */

.footer{
  position: relative;
  bottom: 0%;
  text-align: left;
}