body{
  background-color: black;
  /* background-image: url("./../assets/images/continue.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
}

.container{
  margin-top: 7%;
}

#title{
  text-align: center;
  margin-bottom: 10%;
  margin-right: auto;
  margin-left: auto;
  width:fit-content;
}

.layer{
  background-color: rgba(0,0,0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#view{
  text-align: center;
  color: white;
  background-color: rgba(0,0,0,0.5);
  margin-right:auto;
  margin-left:auto;
  width:auto;
}

.projects{
  display: flex;
  margin-top: auto;
}

.repos{
  margin-left: 38%;
  display: flex;
  justify-content: center;
}

.box{
  display: flex;
  width: auto;
  height: 450px;
  background-color: rgba(0,0,0, 0.7);
  margin-left:-13%;
}
.box iframe{
  width: 450px;
}

#allRepos{
  flex-direction: column;
  background-color: black;
  overflow-y:scroll;
  overflow-x:hidden;
  width:70%; 
  height: 46vh;
  opacity: 0.8;
  padding-right: 2px;
  padding-left: 5px;
  margin-left: 50px;
  display:none;
}

.card{
  position:static ;
  background-color: black;
  border-color: white;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  min-height: 80px;
  min-width: 170px;
  color: white;
}

.card-text{
  margin-left: 6px;
  margin-right: 6px;
  text-align: center;
}

#allRepos a:hover{
  text-decoration: none !important;
}

#allRepos::-webkit-scrollbar{
  width: 13px;
}

/* #allRepos::-webkit-scrollbar-track{
  display: none;
  background: rgba(26, 25, 25, 0.9);
  background: grey;
} */

#allRepos::-webkit-scrollbar-thumb{
  background: grey;
  box-shadow: 0px 0px 0px 1000vh black;
  border-radius: 10px; 
}

/* a:hover + .box,.box:hover{
    display: flex;
    z-index: 100;
} */

#allReposButton{
  left: 0;
  top: 0;
  position: absolute;
}

#featuredReposButton{
  left: 90px;
  top: 0px;
  position: absolute;
}

#featuredRepos{
  height: 400px;
  width: 600px;
  margin: auto;
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#featuredRepos .card{
  width: 60%; 
  margin-left: 50px;
  margin-right: 50px;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#featuredRepos a{
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  display: flex;
  max-height: 80px;
  max-width: 40%;
  
}

.stats{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.stats img{
  width: 400px;
  height: 160px;
}

.btn{
  color: white;
}