body{
  background-color: black;
  font-size: 20px;
}

img{
  width:100%;
  height:100vh;
}

.hero{
  position: relative;
  width: 100%;
  height:100vh;
  display:flex;
  background-image: url("./../assets/images/IMG_0730-2.jpg");
  justify-content:center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index:0;
}

.hero::before{
  content: "";
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.5);
  transition: all 0.2s ease-in-out;
}

.hero.active::before{
  background-color: rgba(0,0,0,0.9);
}

.hero h1{
  font-size: 40px;
  color: white;
  text-shadow: 3px 4px black, 5px 5px rgb(112, 128, 141);
  z-index:1;
}

.content{
  height:100vh;
  width:100%;
  justify-content: center;
  align-items: center;
  text-align:center;
  vertical-align: middle;
  flex-direction: column;
  color: white;
  display: flex;
}

/*sticks footer of webpage at bottom of page*/
.footer{
  padding-top: 40px;
  padding-bottom: 10px;
  position: relative;
  bottom: 0;
  text-align: center;
}



